@model IEnumerable<Biblioteca.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo usuario</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Número de Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario._idUsario</td>
                <td>@usuario._nombre</td>
                <td>@usuario._direccion</td>
                <td>@usuario._numeroTelefono</td>
                <td>                    
                    <a asp-action="Edit" asp-route-id="@usuario._idUsario" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@usuario._idUsario" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
